@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

.justify-content-end{
    justify-content: end;
}

.redText{
    color: rgb(255, 0, 0);
}

.navbar{
    background-color: rgb(47, 47, 47);
}